/* Primeira imagem */
#inicio {
    width: 100%;
    height: calc(100% - 64px);
}

#inicio figure {
    width: 100%;
    margin: 0px;
}

#inicio figure img {
    width: 200%;
}

.box {
    float: left;
}

.card .card-image img {
    top: 10px;
}
.card .card-image .card-title {
    font-weight: 600;
    color: white;
    bottom: 5px;
}

.btn-small {
    border-radius: 600px;
    left: 250px;
}
.logar {
    background-color: yellow;
    color: rgb(94, 21, 94);
    font-weight: 600;
}

.logotipo {
    width: 64px;
    height: 64px;
}

.nav-wrapper {
    background-color: rgb(94, 21, 94);
}