/* Primeira imagem */
#inicio {
    width: 100%;
    height: calc(100% - 64px);
}

#inicio figure {
    width: 100%;
    margin: 0px;
}

#inicio figure img {
    width: 200%;
}

.box {
    float: left;
}

.card .card-image img {
    top: 10px;
}
.card .card-image .card-title {
    font-weight: 600;
    color: white;
    bottom: 5px;
}